@model cinemaSystem.Models.Cinema

@{
    ViewData["Title"] = "Add Cinema";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-header">
                <h4>Add Cinema</h4>
            </div>

            <div class="card-body">

                <form asp-area="Admin"
                      asp-controller="Cinemas"
                      asp-action="Create"
                      method="post"
                      enctype="multipart/form-data">

                    <div class="mb-3">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control"  />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label>Logo</label>
                        <input type="file" name="logoFile" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success">
                        Save
                    </button>

                    <a asp-area="Admin"
                       asp-controller="Cinemas"
                       asp-action="Index"
                       class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}