@model IEnumerable<cinemaSystem.Models.Cinema>

@{
    ViewData["Title"] = "Cinemas";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>

    <div class="d-flex justify-content-between align-items-center mb-3">

        <a asp-area="Admin"
           asp-controller="Cinemas"
           asp-action="Create"
           class="btn btn-primary">
            + Add Cinema
        </a>
    </div>

    <div class="table-container">

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var cinema in Model)
                {
                    <tr>

                        <td>
                            <img src="@(string.IsNullOrEmpty(cinema.ImageUrl)
                                                                         ? "/Images/default.png"
                                                                         : cinema.ImageUrl)"
                                 width="50"
                                 height="50"
                                 style="border-radius:10px; object-fit:cover;" />
                        </td>

                        <td>@cinema.Name</td>

                        <td>

                            <a asp-area="Admin"
                               asp-controller="Cinemas"
                               asp-action="Edit"
                               asp-route-id="@cinema.Id"
                               class="btn btn-sm btn-warning">
                                Edit
                            </a>

                            <a asp-area="Admin"
                               asp-controller="Cinemas"
                               asp-action="Delete"
                               asp-route-id="@cinema.Id"
                               class="btn btn-sm btn-danger">
                                Delete
                            </a>

                        </td>

                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>