@model IEnumerable<cinemaSystem.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a asp-area="Admin" asp-action="Create" class="btn btn-primary">+ Add Category</a>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr><th>Name</th><th>Actions</th></tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.Name</td>
                        
                        <td>
                            <a asp-area="Admin" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>